html {
    overflow: hidden !important;
}
#scene {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background-size: cover;
    background-position: center center;
    height: calc(100dvh - 50px);
    padding: 20px;
}
#model-options {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    border: 1px solid #000;
    padding: 8px;
    gap: 5px;
    border-radius: 9px 9px 28px 28px;
    box-shadow: 0px 0px 5px #000;
    width: max-content;
    height: max-content;
    z-index: 1000;
}
#model-options label, #background-options label {
    font-size: 14px;
    font-weight: 600;
}
#model-options .option {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5px;
}
#model-options .option button, #background-options button {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    background-color: #fff;
    outline: none;
    border-radius: 100%;
    cursor: pointer;
}
#model-options .option button:hover {
    border-style: double;
    border-width: 4px;
}
button.selected {
    border-style: double !important;
    border-width: 4px !important;
}
#model-options button#hair-blonde { background-color: #D4A444; }
#model-options button#hair-ginger { background-color: #B2463A; }
#model-options button#hair-black { background-color: #3F2D21; }

#model-options button#skin-pale { background-color: #FDE1C9; }
#model-options button#skin-beige { background-color: #F9BA89; }
#model-options button#skin-tan { background-color: #CA7751; }

#model-options #size button {
    font-family: "Comfortaa", sans-serif;
    color: #000;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 0;
    font-weight: 600;
    background-color: #DDDDDD;
}

#background-options {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: orange;
    border: 1px solid #000;
    padding: 10px;
    gap: 5px;
    border-radius: 9px 9px 28px 28px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #000;
    width: max-content;
    z-index: 1000;
}
#background-options button {
    background-size: cover;
    background-repeat: no-repeat;
}
#background-options button#bg-1 { background-image: url('../images/icons/bg-button-1.png'); }
#background-options button#bg-2 { background-image: url('../images/icons/bg-button-2.png'); }
#background-options button#bg-3 { background-image: url('../images/icons/bg-button-3.png'); }
#background-options button#bg-4 { background-image: url('../images/icons/bg-button-4.png'); }

/* Tops & bottoms navigation */
.tb-nav-button {
    background-size: contain;
    width: 80px;
    height: 120px;
    background: transparent;
    border: 0;
    outline: none;
    z-index: 1000;
    background-repeat: no-repeat;
    cursor: pointer;
}
#tops-next {
    grid-column: 3;
    grid-row: 2;
    background-image: url('../images/icons/arrow-right.svg');
}
#tops-prev {
    grid-column: 1;
    grid-row: 2;
    background-image: url('../images/icons/arrow-left.svg');
    justify-self: end;
}
#bottoms-next {
    grid-column: 3;
    grid-row: 3;
    background-image: url('../images/icons/arrow-right.svg');
}
#bottoms-prev {
    grid-column: 1;
    grid-row: 3;
    background-image: url('../images/icons/arrow-left.svg');
    justify-self: end;
}

/* Home link */
a#home-link {
    grid-column: 1;
    grid-row: 5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 60px;
    height: 80px;
    border-radius: 18px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0px 0px 5px #000;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
    justify-self: end;
}
a#home-link::after {
    content: '';
    background-image: url('../images/icons/home.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

/* Shop link */
a#shop-link {
    grid-column: 3;
    grid-row: 5;
    width: max-content;
    height: max-content;
    padding: 14px;
    border-radius: 36px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0px 0px 5px #000;
    font-size: 36px;
    align-self: end;
}

#model {
    grid-column: 2;
    grid-row: 1 / 5;
    /* filter: blur(50px); */
    pointer-events: none;
}
#model img {
    position: absolute;
    /* width: 59dvw;
    height: 100%; */
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#model img#hair, #model img#top, #model img#bottom {
    z-index: 2;
}
/* #model img#top {
    top: 40px;
} */
#model img#model {
    z-index: 0;
}

@media(max-width: 600px) {
    #scene {
        height: calc(100dvh - 40px);
    }
    #model-options .option button, #background-options button {
        width: 35px;
        height: 35px;
    }
    #model-options #size button {
        font-size: 14px;
    }
    .tb-nav-button {
        width: 60px;
        height: 80px;
    }
    #background-options {
        justify-self: end;
    }
    #tops-next {
        justify-self: end;
    }
    #tops-prev {
        justify-self: start;
    }
    #bottoms-next {
        justify-self: end;
    }
    #bottoms-prev {
        justify-self: start;
    }
    a#home-link {
        justify-self: start;
    }
    a#shop-link {
        font-size: 20px;
    }
}